<ion-header [translucent]="true">
  <ion-toolbar color="success" class="ion-text-center">

    <ion-title>
Nasi Goreng
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/nasibelacan.jpg"/>
    </ion-thumbnail>
    <ion-label>Belacan</ion-label>
    <p3>RM8</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/telurmasin.jpg"/>
    </ion-thumbnail>
    <ion-label>Telur Masin</ion-label>
    <p3>RM10</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/nasiketam.jfif"/>
    </ion-thumbnail>
    <ion-label>Isi Ketam</ion-label>
    <p3>RM8.90</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/seafoodgoreng.jfif"/>
    </ion-thumbnail>
    <ion-label>Seafood
    </ion-label>
    <p3>RM10</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/gorengayamlemon.jfif"/>
    </ion-thumbnail>
    <ion-label>Ayam
    </ion-label>
    <p3>RM8</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/gorengayamsambal.jfif"/>
    </ion-thumbnail>
    <ion-label>Ayam sambal</ion-label>
    <p3>RM8</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/gorengayamkunyit.jfif"/>
    </ion-thumbnail>
    <ion-label>Ayam Kunyit</ion-label>
    <p3>RM8</p3>
  </ion-item>

</ion-content>