<ion-header [translucent]="true">
  <ion-toolbar color="success" class="ion-text-center">

    <ion-title>
Minuman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/kopi.jfif"/>
    </ion-thumbnail>
    <ion-label>Kopi
    </ion-label>
    <p3>RM2</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/kopio.jfif"/>
    </ion-thumbnail>
    <ion-label>Kopi O</ion-label>
    <p3>RM1.50</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/tehhalia.jfif"/>
    </ion-thumbnail>
    <ion-label>Teh Halia</ion-label>
    <p3>RM2</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/teho.jfif"/>
    </ion-thumbnail>
    <ion-label>Teh O
    </ion-label>
    <p3>RM1.50</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/teolimau.jfif"/>
    </ion-thumbnail>
    <ion-label>Teh O Limau Nipis
    </ion-label>
    <p3>RM2</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/teolaici.jfif"/>
    </ion-thumbnail>
    <ion-label>Teh O Laici</ion-label>
    <p3>RM3</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/nescafe.jfif"/>
    </ion-thumbnail>
    <ion-label>Nescafe</ion-label>
    <p3>RM2.50</p3>
  </ion-item>

</ion-content>