<ion-header [translucent]="true">
  <ion-toolbar color="success" class="ion-text-center">

    <ion-title>
Hidangan Nasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/paprikayam.jpg"/>
    </ion-thumbnail>
    <ion-label>Paprik Ayam</ion-label>
    <p3>RM7</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/cendawan.jpg"/>
    </ion-thumbnail>
    <ion-label>Paprik Cendawan</ion-label>
    <p3>RM7</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/campur.jpg"/>
    </ion-thumbnail>
    <ion-label>Paprik Campur</ion-label>
    <p3>RM8</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/kunyit.jpg"/>
    </ion-thumbnail>
    <ion-label>Ayam Kunyit</ion-label>
    <p3>RM7</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/lemon.jpg"/>
    </ion-thumbnail>
    <ion-label>Ayam lemon</ion-label>
    <p3>RM9</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ayamsambal.jpg"/>
    </ion-thumbnail>
    <ion-label>Ayam sambal</ion-label>
    <p3>RM8</p3>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/ayamblackpaper.jfif"/>
    </ion-thumbnail>
    <ion-label>Ayam Black Paper</ion-label>
    <p3>RM9</p3>
  </ion-item>

</ion-content>